body {
    background-color: #121b2e;
  }

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  flex-direction: column;
}
.container_row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  flex-direction: row;
}

.container-content {
  margin: 0 auto;
  color: #7181a6;
  flex-direction: row;
}

#source {
  margin: 10px;
  color: #7181a6;
}

#source-link {
  color: #7181a6;
  text-decoration: underline;
}

#source-link:hover {
  color: #39455f;
}
.svg-container {
display: inline-block;
position: relative;
width: 100%;
padding-bottom: 0%;
vertical-align: middle;
overflow: hidden;
}

img{
max-width:100%;
max-height:100%;
display: block;
}

div.tooltip {
position: absolute;
text-align: center;
width: 120px;
height: 48px;
padding: 2px;
font: 12px sans-serif;
background: lightsteelblue;
border: 0px;
border-radius: 8px;
pointer-events: none;
}